year-3/algorithms-for-intelligent-systems/cnn-classifier/data/

# Computatioal Linguistics data files
year-3/computational-linguistics/assets/

year-3/cognitive-analytics/experiment-2/housing-data.csv

year-3/cognitive-analytics/project/data
year-3/computational-linguistics/experiment-11-BERT/saved_weights.pt
