year-3/algorithms-for-intelligent-systems/cnn-classifier/data/

year-3/computational-linguistics/experiment-3/twcs.csv
year-3/computational-linguistics/experiment-3/tweet.csv
year-3/computational-linguistics/experiment-3/tweets.csv
year-3/computational-linguistics/experiment-4/tweets.csv
year-3/computational-linguistics/experiment-4/processed-tweets.csv

year-3/cognitive-analytics/experiment-2/housing-data.csv

year-3/cognitive-analytics/project/data
